./.idea
.env
/tmp/*
.idea/
.venv

*/tmp/
*/.idea/
*/.vscode/

/Kubernetes/raw/lenie_server_configmap.yaml
/Kubernetes/raw/lenie_server_secrets.yaml
/Kubernetes/raw/ecs_registry_password.yaml
/Kubernetes/raw/.dockerconfigjson
/infra/aws/serverless/lambdas/*/lambda.zip
/docker_build.sh
/debug.txt
/infra/kubernetes/lenie/raw/server/lenie_2_server_configmap.yaml
/infra/kubernetes/lenie/raw/server/lenie_3_server_secrets.yaml
/pre-hool.log
