[Unit]
Description=Update AWS Security Group for Jenkins Server to allow connection
After=network.target

[Service]
ExecStart=/usr/local/bin/aws_jenkins_worker_start.sh
Type=simple
RemainAfterExit=true

[Install]
WantedBy=multi-user.target