apiVersion: v1
kind: Service
metadata:
  name: lenie-ai-client-service
  namespace: lenie-ai-dev
spec:
  selector:
    app: lenie-ai-client
  ports:
    - protocol: TCP
      name: react-app
      port: 80
      targetPort: 3000
  type: ClusterIP
  